div.todo {
    background-color: #ffffff;
    padding         : 15px;
    border-radius   : 2px;

    h2 {
        padding      : 0;
        margin       : 0;
        margin-bottom: 10px;
        color        : #494949;
    }

    p {
        padding: 0;
        margin : 0;
    }
}